

.cart_img{
    width: 250px;
    margin: 0 auto;
}

.bg{
    background: #a749ff !important;
    border:  none !important;
    color: #000 !important;
}

.check_txt h2, h3{
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
}